 <div class="container">
        <aside class="col-md-3">
            <h3>HOLD ON TO YOURSELVES.</h3>
            <p>The Winter is HERE.</p>
        </aside>
        <section class="main col-md-9">
            <article>
                <h2>Welcome</h2>
                <p>
                        This a WEB322 assignment 6. We are learning how to use and integrate Databases in our web app.
                </p>
            </article>
        </section>
</div>
 
